In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("./data/tasks/face_task.parquet")

In [5]:
df_pos = df[df["positive"] == True]
df_neg = df[df["positive"] == False]

In [9]:
import numpy as np
np.random.seed(0)

def sample(df, n):
	return df.loc[np.random.choice(df.index.values, n, replace=False)]

N = 1_000
df_pos_sampled = sample(df_pos, N)
df_neg_sampled = sample(df_neg, N)

In [10]:
df_pos_sampled

                 data  positive
398    celeba/398.jpg      True
3833  celeba/3833.jpg      True
4836  celeba/4836.jpg      True
4572  celeba/4572.jpg      True
636    celeba/636.jpg      True
...               ...       ...
4228  celeba/4228.jpg      True
2367  celeba/2367.jpg      True
788    celeba/788.jpg      True
1452  celeba/1452.jpg      True
3265  celeba/3265.jpg      True

[1000 rows x 2 columns]

In [11]:
df_neg_sampled

                          data  positive
5597  val2017/000000579307.jpg     False
5332  val2017/000000127517.jpg     False
5521  val2017/000000569565.jpg     False
8935  val2017/000000114770.jpg     False
9800  val2017/000000037751.jpg     False
...                        ...       ...
7607  val2017/000000294855.jpg     False
9381  val2017/000000142790.jpg     False
9585  val2017/000000297085.jpg     False
9496  val2017/000000140286.jpg     False
5058  val2017/000000125211.jpg     False

[1000 rows x 2 columns]

In [13]:
pd.concat((df_pos_sampled, df_neg_sampled)).to_parquet("./data/tasks/face_task2k.parquet", index=False)